:root {
  --primary-color: #3db36b;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  line-height: 1.15;
  padding: 1rem 0rem;
}

h1 {
  font-size: 3.052em;
  margin: 0;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

a,
p {
  font-size: 1.25em;
}

nav {
  padding: 2rem 1rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.fas {
  font-size: 2.5em;
}

/* Utility Class */
.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--justify-space-around {
  justify-content: space-around;
}
